#initial-menu {
    display: flex;
    align-items: center;
    height: 130px;
    position: fixed;
    top: 0;
    left: 0;
    background: #fff;
    width: 100%;
    z-index: 101;
    padding: 0 15px;
}